/*
 * we use css to style our page and our svg elements
 * the classes/ids defined here must match our d3 code
 */

 .footer {
   /*
   Hack to extend footer:
   https://stackoverflow.com/questions/9741701/how-can-i-extend-a-footer-to-bottom-of-page */
   box-shadow: 0 50vh 0 50vh #fafafa;
 }

#bar-chart, #heatmap {
  width: 950px;
  height: 490px;

  background-color: white;
}

.x-axis line, .x-axis path {
  stroke: #fff;
}

/* svg elements are styled differently from html elements */

#x-axis text,
#y-axis text {
  font-size: 10pt;
  fill: #888888;
}

#x-axis line {
  /* tick marks */

  stroke: #bbbbbb;
  stroke-width: 1px;
}

#x-axis path,
#y-axis path,
#y-axis line {
  fill: none;

  stroke: #bbbbbb;
  stroke-width: 1px;
}
